beautifulsoup4==4.12.2
Faker==18.4.0
fastapi==0.95.0
joblib==1.2.0
pandas==2.0.0
PyYAML==6.0
requests==2.31.0
scikit_learn==1.2.2
starlette==0.26.1
urllib3==1.26.15
uvicorn==0.21.1
strawberry-graphql==0.171.1
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
